fastapi
uvicorn
python-dotenv
aiohttp
numpy
pydantic
beautifulsoup4
html2text
tqdm
markdown
markdownify
openai
playwright
python-multipart
setuptools
chromadb
fastapi
uvicorn
python-dotenv
aiohttp
numpy
pydantic
beautifulsoup4
html2text
tqdm
markdown
python-multipart
setuptools
faiss-cpu
pinecone>=2.3.0
grpcio
